<h1>About Me</h1>
<div>
<h2>Qayyam Jamal</h2>
<a ><i src="/Client/Assets/images/me.jpg" alt="Qayyam Jamal" width="250" height="300"></a>
<p class="">
Currently a Computer Program Analyst student at Durham College skilled in Ansible automation, Agile methodologies and web development. 
A reliabele, hard worker who is detail-oriented and easily adapts to new environments and situations. By leveraging great leadership and communication skills 
I excel in projects that require collaboration and team work.
</p>
</div>
<a href="www.linkedin.com/in/qayyam-jamal"><button type="button" class="btn btn-primary"><i class="fas fa-user"></i> LinkedIn</button></a>
<a href="https://drive.google.com/file/d/1iP-LZ4ii1sjHl0thcz07rXXc0NSLalk4/view?usp=sharing"><button type="button" class="btn btn-success"><i class="fas fa-file"></i> View Resume</button></a>