<h1>Welcome to Qayyam Jamal's Portfolio</h1>

<h2></h2>
<h2>Purpose</h2>
<p></p>
<p>This website has a dual purpose, the first being a demonstration of what Qayyam has learned in the WEBD6201 course at Durham College. The second is to serve as a personal portfolio 
    demonstrating his skills and interests.
</p>

<p> </p>
<p class=""> </p>
<a href="/about"><button type="button" class="btn btn-primary">Find Out More</button></a>
