<h1></h1>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="table-dark">
                <th colspan="2" class="text-center">Recent Projects</th>
            </thead>
            <tbody>
                <tr>
                    <th>MicroFocus COBOL</th>
                    <td>
                        <p> This a project I worked on in my Mainframe development class at Durham College. It was a team project that required us to validate 
                        a data file then proceed to slit it into seperate data files for valid, invalid, sales and layaways, and returns. From those 
                        data files we were required to make reports. The first was an error report to report all the errors The second a counts reprt that counted each type of record. 
                        The third, a sales and layaways report that displayed the records properly organized and calculated their taxes. It also displayed the sums of sales and taxes as well 
                        as which store had the highest and lowest total sales.</p>
                        <a href="https://github.com/qayyamj/MAFDFinal"><button type="button" class="btn btn-info">GitHub Repo</button></a>
                    </td>
                </tr>
                <tr>
                    <th>C#</th>
                    <td>
                        <p>This a project I was a part of for my Object-Oriented Programming III class at Durham College. We were tasked with creating a fully functioning GUI for a card game called 
                         Durak.</p> 
                        <a href="https://github.com/evanpalmer002/OOP_Project"><button type="button" class="btn btn-info">GitHub Repo</button></a>
                    </td>
                </tr>
                <tr>
                    <th>Web Development</th>
                    <td>
                        <p>Click the button below to be taken to the GitHub repository for this website.</p>
                        <a href="https://github.com/qayyamj/WEBD6201-W2021-LAB4"><button type="button" class="btn btn-info">GitHub Repo</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>
