<h1>Services</h1>
<div class="row">
    <div class="col">
        <table class ="table">
            <thead class="table-dark">
                <th colspan="2" class="text-center">Service List</th>
            </thead>
            <tbody>
                <tr>
                    <th>Bartending</th>
                    <td>
                        <ul>
                            <li>Ontario Smart Serve Certified.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Programming</th>
                    <td>
                        <ul>
                            <li>Java</li>
                            <li>C#</li>
                            <li>C++</li>
                            <li>COBOL</li>
                            <li>Visual Basics</li>
                            <li>Python</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Web Development</th>
                    <td>
                        <ul>
                            <li>CSS</li>
                            <li>HTML</li>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                            <li>Node.js</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Database Development</th>
                    <td>
                        <ul>
                            <li>Microsoft SQL Server</li>
                            <li>SQL</li>
                            <li>T-SQL</li>
                            <li>Crystal Reports</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

